/* =================================
        Mobile Responsiveness
================================= */

@media (max-width: 991px) {
    .divider {display: none;}
    .navbar-nav {text-align: center;}
    .nav-item:last-child {margin-bottom: 25px;}
}