/***************************************************************************************************************
||||||||||||||||||||||||||             Created By: Austin Dickey                 |||||||||||||||||||||||||||||||
****************************************************************************************************************
||||||||||||||||||||||||||||               Table of Contents                 |||||||||||||||||||||||||||||||||||
****************************************************************************************************************
****************************************************************************************************************
* 1. Headers
* 2. NavBar
****************************************************************************************************************
||||||||||||||||||||||||||||            End Table of Contents               ||||||||||||||||||||||||||||||||||||
****************************************************************************************************************/

/* =================================
            Headers
================================= */

h1 {
    text-align: center;
    margin: 25px 0;
    color: #FFA500;
}

/* =================================
            Navbar
================================= */

.fa-bars {
    color: #FFA500;
    padding: 7px;
    border: 2px solid #FFA500;
    border-radius: 6px;
}

.navbar {
    background-color: #505050;
    color: #fff;
}

.navbar-nav a {
    color: #fff;
}

.navbar-nav a:hover {
    text-decoration: none;
    color: #FFA500;
}

.navbar-nav .active {
    color: #FFA500;
}

.logo img {
    padding: 5px 15px;
    height: 75px;
}

.divider:after {
    content: "|";
    color: #fff;
}