/***************************************************************************************************************
||||||||||||||||||||||||||             Created By: Austin Dickey                 |||||||||||||||||||||||||||||||
****************************************************************************************************************
||||||||||||||||||||||||||||               Table of Contents                 |||||||||||||||||||||||||||||||||||
****************************************************************************************************************
****************************************************************************************************************
* 1. Body
* 2. Headers
* 3. NavBar
* 4. Home
* 5. About Me
* 6. Highlights
* 7. Contact
* 8. Footer
****************************************************************************************************************
||||||||||||||||||||||||||||            End Table of Contents               ||||||||||||||||||||||||||||||||||||
****************************************************************************************************************/

/* =================================
            Body
================================= */

body {
    font-family: 'Gruppo', sans-serif;
    background-image: url(../img/bg.png);
}

/* =================================
            Headers
================================= */

h1 {
    text-align: center;
    color: #FFA500;
    font-family: 'Audiowide', sans-serif;
}

h3 {
    text-align: center;
    margin-top: 0;
    margin-bottom: 0px;
    font-weight: 900;
    border: 3px solid #505050;
    border-bottom: 0px;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    background-image: url(../img/scheduleBG.png);
}

h4 {
    text-align: center;
    color: #FFA500;
    margin-top: -10px;
}

/* =================================
            Navbar
================================= */

.fa-bars {
    color: #FFA500;
    padding: 7px;
    border: 2px solid #FFA500;
    border-radius: 6px;
}

.navbar {
    background-color: #505050;
    color: #fff;
}

.navbar-nav a {
    color: #fff;
}

.navbar-nav a:hover {
    text-decoration: none;
    color: #FFA500;
}

.navbar-nav .active {
    color: #FFA500;
}

.logo img {
    padding: 0 15px;
    height: 85px;
}

.divider:after {
    content: "|";
    color: #fff;
}

/* =================================
            Home
================================= */

#titleBox {
    margin: 50px 30%;
    border: 6px solid #FFA500;
    border-radius: 7px;
    background-color: #505050;
    padding: 10px 0;
}

.widgets {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.widgets div {
    margin: 0 25px;
}

.days li {
    width: 400px;
    text-align: center;
    font-size: 28px;
    border: 3px solid #505050;
    border-bottom: 0px;
    background-image: url(../img/scheduleBG.png);
}

.days li:last-child {
    border: 3px solid #505050;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
}

.days span {
    font-size: 18px;
    font-style: italic;
}

.schedule ul li strong {
    color: #FFA500;
}

/* =================================
            About Me
================================= */

.aboutMe {
    border: 6px solid #FFA500;
    border-radius: 7px;
    padding: 25px;
    font-size: 18px;
    background-image: url(../img/scheduleBG.png);
}

.profilePic {
    width: 400px;
    float: left;
    margin-right: 15px;
    border: 6px solid #505050;
    border-radius: 7px;
}

/* =================================
            Highlights
================================= */

.instaPosts {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.singlePost {
    margin: 0 5px;
}

/* =================================
            Footer
================================= */

/* #clearFix {
    height: 50px;
} */

footer {
    width: 100%;
    height: 50px;
    background-color: #505050;
    color: #fff;
    text-align: center;
    padding-top: 13px;
    margin-top: 50px;
    font-size: 18px;
}

footer a {
    color: #FFA500;
}

footer a:hover {
    text-decoration: none;
    color: #44c823;
}